/* Dropdown.css */

.dropdown {
  position: relative;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  user-select: none;
}

.dropdown-display {
  padding: 10px;
  background: #f9f9f9;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-weight: bold;
}

.dropdown-options {
  max-height: 150px;
  overflow-y: auto;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #ccc;
  /* background-color: #fff; */
}

.dropdown-option:hover,
.dropdown-option:active {
  background-color: #5ae430;
}
